/* #footer {
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: #674442;
  position: absolute;
  bottom: 0;
  text-align: center;
}

#footer h6 {
  color: white;
padding: 16px;
} */
/* .page-footer {
  width: 100%;
  background: #3b3838;
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: 100;
  min-height: 50px;
  margin-bottom:0;
  position: relative;
}  */
